.container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
} 

#standardSearchText {
    font-size: 25px;
    text-align: left
}
#advancedSearchButton{
    width: 153px; 
    height: 38px;
}




.character {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
  
  .character {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }



.person-details-header, .character {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.person-summary, .person-details {
    width: 100%;
}

.detail-label {
    flex: 1;
}

.detail-value {
    flex: 2; 
}

.person-details {
    display: none;
    padding-top: 10px;
}


.person-summary {
    cursor: pointer;
    font-weight: bold;
}
.person-details-header, .person-summary, .person-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.detail-item {
    flex: 1;
    text-align: center;
}
